.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 440px);
  grid-row-gap: 50px;
}

.photo {
  grid-column: 3 / 5;
}

.card {
  background-color: silver;
  width: 50rem;
  grid-column: 6 / 8;
}

.card-video {
  background-color: silver;
  width: 50rem;
  grid-column: 4 / 8;
  grid-row: 2 / 3;
}

h2 {
  color: black;
  font-size: 2em;
  font-style: italic;
  font-family: 'Lucida handwriting',serif;
}

img {
  border-radius: 8px;
}

.desc { 
  color: rgb(57, 57, 57);
  font-family: 'Lucida handwriting',serif;
  font-size: 1.5em;
}


.btn-primary {
  color: floralwhite;
  background-color: rgb(121, 130, 138);
  border-color: rgb(121, 130, 138);
  font-family: 'Lucida handwriting',serif;
 
}

.btn-secondary {
  color: floralwhite;
  background-color: gray;
  border-color: gray;
  position: relative;
  left: 290px;
  font-family: 'Lucida handwriting',serif;
} 

.container-fluid {
  background-color: silver;
  border-color: gray;
  font-family: 'Lucida handwriting',serif;
  
}

.card-text {
    color: dimgray;
    font-family: 'Lucida handwriting',serif;
    font-style: italic;
    font-size: 1.5em;  
    text-align: center;
}

.card-title {
   color: rgb(72, 72, 72);
   font-style: italic;
   font-family: 'Lucida handwriting',serif;
   text-align: center;
 }
 
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: gainsboro;
  }

  .carousel {
    margin-bottom: 4rem;
  }

  .carousel-item {
    height: 32rem;
  }